@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/images';
@import '~bootstrap/scss/code';
@import '~bootstrap/scss/grid';

$body-bg: #012;
$body-color: #def;
$dark-bg: #131c29;
$very-light-blue-background: #acf;
$light-blue-background: #9bd;
$regular-blue-background: #579;
$darker-blue-background: #468;
$dark-blue-background: #357;
$theme-colors: (
  'primary': $light-blue-background,
  'danger': #ff4136
);

.linkButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline;
  margin: 0;
  padding: 0;
}

.card {
  margin-top: 5px;
  margin-bottom: 5px;
}

.cardHeader {
  background-color: $regular-blue-background !important;
  color: #fff;
}
.cardBody {
  background-color: $very-light-blue-background !important;
  color: $body-bg !important;
}
.cardFooter {
  background-color: $light-blue-background !important;
  color: #000;
}

