@import './Custom.scss';

.singleDayCard {
  margin-top: 5px;
  margin-bottom: 5px;
}

.cardToday {
  border-width: 7px !important;
  border-color: $darker-blue-background !important;
}

.cardToday .cardHeader,
.cardToday .cardFooter {
  border-radius: 0 !important;
}
.cardHeader {
  background-color: $regular-blue-background !important;
}
.cardBody {
  background-color: $very-light-blue-background !important;
  color: $body-bg !important;
}
.cardFooter {
  background-color: $light-blue-background !important;
  color: #000;
}
