@import './Custom.scss';

.cardToday {
  border-width: 7px !important;
  border-color: $darker-blue-background !important;
}

.cardToday .cardHeader,
.cardToday .cardFooter {
  border-radius: 0 !important;
}
